h2 {
    font-size: 4.7rem;
    margin-top: 21rem;
    color: white;
}

body {

    color: black;
    background-image: url("../pictures/chicken-wings.webp");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form {
    background: white;
    border: 5px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 37.5rem;
    border-radius: 10px;
    opacity: 85%;
}

form h3 {
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
}

form p {
    color: #555555bb;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1.56;
}


form input,
form textarea {
    border: 0;
    margin: 0.6rem 0;
    padding: 1.25rem;
    outline: none;
    background: #f5f5f5;
    font-size: 1rem;
    resize: none;
}

form button {
    padding: 0.3rem;
    background: #fddc94;
    color: orange;
    font-size: 1.875rem;
    border: 0;
    outline: none;
    width: 9.375rem;
    margin: 1.25rem auto 0;
    cursor: pointer;
    border-radius: 15px;
}

form button:hover {
    background: orange;
    color: white;
    transition: 500ms ease;
}

form button:not(:hover) {
    transition: 500ms ease;
}
