h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    margin-top: 350px;
    color: white;
}

body {
    color: white;
    background-image: url("../pictures/chicken-background.webp");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

div {
    text-align: center;
    justify-content: center;
}

.child {
    background-color: rgba(0, 0, 0, 0.521);
    font-size: 40px;
}