* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid 1px #00ff15; */
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ff8c00;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
}


.links {
    text-decoration: none;
}

.image {
    width: 500px;
    height: 500px;
}

.chicken-image {
    border: solid 5px #000000;
    border-radius: 5px;
}

/*
    !tova e za glavniq section
    !s pile backgrounda 
*/

.section-style {
    background-image: url("../pictures/chicken-background.webp");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.section-style h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-style p {
    font-size: 30px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #ff8c00;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #333;
}

/*
    !tova e za featured content kartite
*/

.cards {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.container:hover {
    animation: expand 0.25s;
    transform: scale(1.05);
}

@keyframes expand {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.05);
    }
}

/*
    !tova e da ti izliza tekst kato
    !mishkata e vurhy daden show more byton
*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 175px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    left: 50%;
    top: 50%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}



