/* @import url("https://fonts.google.com/share?selection.family=Poppins:wght@100"); */

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}

body {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(255, 136, 0) 0%, rgb(148, 79, 0) 99.4%);
}

footer {
    color: white;
}



/* !tova e za glavniq section s pile backgrounda  */


.section-style {
    background-image: url("../pictures/chicken-background.webp");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.section-style h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-style p {
    font-size: 30px;
    margin-bottom: 30px;
}

.section-style  h1 {
    top: 4%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
}

.fact-display {
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #ff8c00;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #333;
}

.chicken-image {
    border: solid 5px #000000;
    border-radius: 5px;
}

/* !tova e za featured content kartite */

.cards {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: white;
}

.container h3 {
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 100%;
}

.image:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}

.featured-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
    !tova e da ti izliza tekst kato
    !mishkata e vurhy daden show more byton
*/

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tooltip .tooltip-text {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    opacity: 0%;
    color: #fff;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tooltip:hover .tooltip-text {
    animation: fade 2s;
    opacity: 100%;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}