@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.125rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

body {
    background: url("../pictures/chicken-background.webp");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* !tova e za glavniq section s pile backgrounda  */

.fact-display {
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 6.25rem;
    margin-top: 0.3rem;
}

.section-style { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    color: #ffffff;
}

.section-style h2 {
    font-size: 3.75rem;
    font-weight: bold;
}

.section-style p {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    margin-bottom: 4.7rem;
    color: rgba(255, 255, 255, .75);
}

/* !tova e za featured content kartite */

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
    box-sizing: border-box;
    border: rgba(73, 73, 73, 0.25) solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    background: radial-gradient(circle at 25% 69%, rgba(50, 50, 50, 0.5) 0%, rgba(0, 0, 0, 0.75) 75%);
    color: white;
}

.container h3 {
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    text-shadow: 2px 2px 4px rgb(24, 24, 24);
}

.container:hover {
    color: orange;
    transition: 500ms ease;
}

.container:not(:hover) {
    transition: 500ms ease;
}

.image:hover {
    transform: scale(1.05);
    transition: 1s ease;
    cursor: pointer;
}

.image:not(:hover) {
    transition: 1s ease;
}

.featured-content {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/*
    !tova e da ti izliza tekst kato
    !mishkata e vurhy daden show more byton
*/

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tooltip .tooltip-text {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    opacity: 0%;
    color: #fff;
    position: absolute;
    z-index: 1;
    font-size: 1.25rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tooltip:hover .tooltip-text {
    opacity: 100%;
    transition: 2s ease;
}

.tooltip:not(:hover) .tooltip-text {
    opacity: 0%;
    transition: 2s ease;
}