@import url("https://fonts.google.com/share?selection.family=Poppins:wght@100");


body {
    font-family: "Popins", sans-serif;
    background: url("../pictures/chicken-profile-bg.webp");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
}

html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    max-width: 47rem;
    width: 100%;
    padding: 1.875rem;
    border: 5px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    opacity: 85%;
}

.form h1 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.form h2 {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
    text-align: center;
}

.logout-button {
    display: inline-block;
    width: 12.5rem;
    padding: 0.625rem;
    border-radius: 10px;
    font-size: 2rem;
    align-items: center;
    background-color: #fddc94;
    color: orange;
    cursor: pointer;
}

.logout-button:hover {
    background-color: orange;
    color: white;
    transition: 500ms ease;
}

.logout-button:not(:hover) {
    transition: 500ms ease;
}