.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    border: 5px solid #f1f1f1;
    padding:50px;
}

h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #000000;
    box-sizing: border-box
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button[type="submit"]:hover {
    opacity: 0.8;
}