* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

body {

    background: url("../pictures/baby-chicks.webp");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    padding-bottom: 3.75rem;
}

.container .content {
    text-align: center;
}

.container .content h3 {
    font-size: 1.9rem;
    color: #333;
}

.container .content h3 span {
    background: crimson;
    color: white;
    border-radius: 5px;
    padding: 0 1rem;
}

.container .content h1 {
    font-size: 2rem;
    color: #333;
}

.container .content p {
    font-size: 1.6rem;
    margin-bottom: 1.25rem;
}

.container .content .btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 20px;
    background: #333;
    color: white;
    margin: 0 1rem;
    text-transform: capitalize;
}

/* !register page */

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    padding-bottom: 4rem;
    opacity: 85%;
}

.form-container form {
    padding: 1.25rem;
    border: 5px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    text-align: center;
    width: 31rem;
}

.form-container form h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #333;
}


.form-container form input,
.form-container form select {
    width: 90%;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin: .5rem 0;
    background: #eee;
}

.form-container form select option {
    background: #fff;
}

.form-container form .button {
    background: #fddc94;
    color: orange;
    text-transform: capitalize;
    font-size: 1.5rem;
    cursor: pointer;
}

.form-container form .button:hover {
    background: orange;
    color: #fff ;
    transition: 500ms ease;
}

.form-container form .button:not(:hover) {
    transition: 500ms ease;
}

.form-container form p {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #333;
}

.form-container form p a {
    color: orange;
}
